/*===============================================
  Mindi - Mindinet.org
  Note: very basic, clean, white skin with orange accent color this time for Stylish / Firefox.
  Credits for base to Chad_i! https://userstyles.org/styles/117890/firefox-microsoft-edge-browser-dark-mode
===============================================*/

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
.ac-type-icon,
.search-go-button,
.search-go-button-stack,
#feed-button,
#go-button,
#urlbar-reload-button,
.search-go-button {
    display: none !important;
}

#TabsToolbar {
    background: rgba(255, 255, 255, 100) !important;
}
#main-window:not([privatebrowsingmode="true"])[sizemode="normal"] #TabsToolbar {
    margin-left: 1px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
}
#main-window:not([privatebrowsingmode="true"])[sizemode="maximized"] #TabsToolbar {
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
}
#main-window:not([privatebrowsingmode="true"])[sizemode="fullscreen"] #TabsToolbar {
    margin-right: -53px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
}
#TabsToolbar .arrowscrollbox-scrollbox {
    padding: 0px !important;
}
#TabsToolbar .tabbrowser-tabs {
    min-height: 32px !important;
    margin-bottom: 0px !important;
}
#TabsToolbar .tabbrowser-tab {
    -moz-border-top-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    border-color: rgba(43, 43, 43, .20) !important;
    border-width: 0px 1px 0px 1px !important;
    padding: 0px 0px !important;
    background: transparent !important;
    background-clip: padding-box !important;
    transition: all .4s !important;
    margin-left: -1px !important;
}

#TabsToolbar .tabs-newtab-button {
    -moz-border-top-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    background: rgba(255, 255, 255, .05) !important;
}

.scrollbutton-up[disabled="true"] {
    border-style: solid !important;
    border-right-width: 1px !important;
    border-right-color: rgba(218, 218, 218, 100) !important;
    margin-left: -1px !important;
    margin-right: -1px !important;
}
#TabsToolbar tab:not([selected="true"]) {
    background: #efefef !important;
    color: #858585 !important;
    -webkit-filter: grayscale(1);
}
#TabsToolbar .tabbrowser-tab[selected] {
    color: #ff981f !important;
    font-weight: bold;
    background: #fff !important;
    background-clip: padding-box !important;
    border-color: #cfcfcf !important;
    border-top-color: #cfcfcf !important;
}
#TabsToolbar .tabs-newtab-button:hover:not([selected]) {
    border-color: transparent !important;
}
#TabsToolbar .tabbrowser-tab:hover:not([selected]) {
    -webkit-filter: grayscale(0);
    border-color: transparent !important;
    border-top-color: transparent !important;
    background-color: #f5f5f5 !important;
    color: #434343 !important;
}
#TabsToolbar .tab-background {
    margin: 0 !important;
    background: transparent !important;
}
#TabsToolbar .tab-background-start,
#TabsToolbar .tab-background-end {
    display: none !important;
}
#TabsToolbar .tab-background-middle {
    margin: -4px -2px !important;
    background: transparent !important;
}
#TabsToolbar .tabbrowser-tab:after,
#TabsToolbar .tabbrowser-tab:before {
    display: none !important;
}
#TabsToolbar .tabs-newtab-button {
    border-width: 0px !important;
    margin: 0px !important;
    width: auto !important;
    padding: 0px 6px !important;
}
#addon-bar,
#PersonalToolbar,
#main-window:not([privatebrowsingmode])[sizemode="maximized"] #nav-bar {
    border-top-color: transparent !important;
    padding-right: 5px !important;
}

#navigator-toolbox::after {
    background: rgba(255, 255, 255, 100) !important;
}
#nav-bar {
    background: rgba(255, 255, 255, 100) !important;
    box-shadow: none !important;
    background-clip: padding-box !important;
    border-color: transparent !important;
    border-bottom-right-radius: 0px !important;
}
#PanelUI-button {
    background-image: none !important;
}
#nav-bar-customization-target {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#nav-bar .toolbarbutton-1:not([type="menu-button"]),
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button,
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
    padding-top: 5px !important;
    padding-bottom: 6px !important;
    -webkit-filter: grayscale(1);
}
#back-button > .toolbarbutton-icon {
    margin-top: -1px !important;
    margin-bottom: -1px !important;
    border-color: transparent !important;
    display: none !important;
}
#forward-button > .toolbarbutton-icon {
    margin-top: -1px !important;
    margin-bottom: 1px !important;
    border-radius: 5px !important;
    border-color: transparent !important;
    margin-left: 5px !important;
}
#nav-bar {
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
    border-radius: 0px !important;
    border-top: 0px #282B34 !important;
    box-shadow: none !important;
}
#main-window:not([privatebrowsingmode])[sizemode="normal"] #nav-bar {
    background: rgba(255, 255, 255, 100) !important;
    margin-top: 0px !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
    border-radius: 0px !important;
    border-top: 0px #494949 !important;
    box-shadow: none !important;
}
#urlbar {
    background: transparent !important;
    padding: 8px !important;
    text-align: left!important;
    padding-left: 8px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 6px !important;
    margin-right: 4px !important;
    border: 1px solid transparent !important;
    color: rgba(43, 43, 43, 100) !important;
    font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
    font-size: 14px;
    box-shadow: none !important;
}
#searchbar .search-go-button {
    visibility: hidden !important;
}
#searchbar .searchbar-dropmarker-image {
    display: none !important;
}
#searchbar .searchbar-engine-image {
    width: 0 !important;
    padding-left: 18px !important;
    margin-left: -20px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 2px !important;
}
#searchbar .searchbar-textbox {
    background: transparent !important;
    text-align: left!important;
    margin-top: 7px !important;
    margin-bottom: 7px !important;
    margin-left: 1px !important;
    margin-right: 10px !important;
    border-top: 1px solid transparent!important;
    border-bottom: 1px solid transparent!important;
    border-left: 1px solid transparent!important;
    border-right: 1px solid transparent!important;
    padding-left: 5px !important;
    color: #ff981f !important;
    font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
    font-size: 12px;
    box-shadow: none !important;
}
#urlbar,
.searchbar-textbox {
    border-radius: 3px !important;
}
.urlbar-input {
    padding-left: 10px !important;
}
#urlbar #plugins-notification-icon,
#urlbar #notification-popup-box {
    display: none!important;
}

/*===============================================
  Thanks Gammagate.de for this!
  https://userstyles.org/styles/136710/firefox-new-bookmark-and-folder-icons
===============================================*/

.bookmark-item[container]:not([query="true"]) {
list-style-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAb0lEQVQ4T2NkoBAw+vj4XGBgYNBHMufDv3//HLdt2wYSJwhABvzHouoDAwMDQQP+//9/AZcBBG2GKWD09vYuYGRk5CdaB6pCRpABHygw4APlXsARiET7aNQFDAyDIwzQMxPRUcjAwHCRkRTV2NQCAAI/KGdF3XcGAAAAAElFTkSuQmCC') !important;
-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
.bookmark-item {
list-style-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAoklEQVQ4T+3TwQ3DIAwAQBsGaEfpCHlbPDpCRugGbTfoCNkBwzfNBhmlE9iVpSC1JJEYIHyQbXTCyCAsi4gu3vtTies9xjht1bAkQwhvAHjsAC9VnVNKfV3/A5i52wIMF5EBEbsaaQYMJ6K+RpoBABjtdqp6RcSJmW8WNwF1W9ZSafcAjkdcDRIi3vd+429eVZ+rQbLv7Jw7twAi8sk5z3b2C/G+ihHL2pYmAAAAAElFTkSuQmCC') !important;
}