
/*===============================================
  Mindi - Mindinet.org
  Note: very basic, clean, white skin with orange accent color for Firefox.
===============================================*/

/* MAIN BROWSER */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#TabsToolbar {
    background: #fff !important;
}

/*=====Popup Menus====*/
menupopup, popup,
popup > menu > menupopup,
menupopup > menu > menupopup {
-moz-appearance: none !important;
background: #fff !important;
border: 1px solid #525A6D !important;
margin: 2px 2px 2px  !important;
padding: 4px 2px 4px 2px  !important;}

menupopup menuseparator {
-moz-appearance: none !important;
background: #E2E2E2 !important;
margin: 8px 0px 8px 0px !important;
padding: 0px !important;
border-top: none !important;
border-color: transparent !important;}

menupopup menu, menuitem{
-moz-appearance: none !important;
color: #000!important;}

menupopup menu:hover, menuitem:hover {
-moz-appearance: none !important;
color:#fff !important;
background-color:#000 !important;} 



#main-window:not([privatebrowsingmode="true"])[sizemode="normal"] #TabsToolbar {
    margin-left: 1px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
}

#main-window:not([privatebrowsingmode="true"])[sizemode="maximized"] #TabsToolbar {
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
}

#main-window:not([privatebrowsingmode="true"])[sizemode="fullscreen"] #TabsToolbar {
    margin-right: -53px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
}

#TabsToolbar .arrowscrollbox-scrollbox {
    padding: 0px !important;	
}

#titlebar, #tabbrowser-tabs {
    --tab-min-height: 23px !important;
}

#TabsToolbar .tabbrowser-tabs {
    margin-bottom: 0px !important;
}

#TabsToolbar .tabbrowser-tab {
    -moz-border-top-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    border-color: rgba(43, 43, 43, .20) !important;
    border-width: 0px 1px 0px 1px !important;
    padding: 0px 0px !important;
    background: transparent !important;
    background-clip: padding-box !important;
    transition: all .4s !important;
    margin-left: -1px !important;
    max-height: 25px !important;
}

#TabsToolbar .tabs-newtab-button {
    -moz-border-top-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    background: rgba(255, 255, 255, .5) !important;
}

#TabsToolbar tab:not([selected="true"]) {
    background: #efefef !important;
    color: #858585 !important;
    -webkit-filter: grayscale(1);
}

#TabsToolbar .tabbrowser-tab[selected] {
    color: #ff981f !important;
    font-weight: bold;
    background: #fff !important;
    background-clip: padding-box !important;
    border-color: #cfcfcf !important;
    border-top-color: #cfcfcf !important;
}

#TabsToolbar .tabs-newtab-button:hover:not([selected]) {
    border-color: transparent !important;
}

#TabsToolbar .tabbrowser-tab:hover:not([selected]) {
    -webkit-filter: grayscale(0);
    border-color: transparent !important;
    border-top-color: transparent !important;
    background-color: #f5f5f5 !important;
    color: #434343 !important;
}

#TabsToolbar .tab-background {
    margin: 0 !important;
    background: transparent !important;
}

#TabsToolbar .tab-background-middle {
    margin: -4px -2px !important;
    background: transparent !important;
}

#TabsToolbar .tabs-newtab-button {
    border-width: 0px !important;
    margin: 0px !important;
    width: auto !important;
    padding: 0px 6px !important;
}


/* HIDE TAB BAR WHEN ONLY ONE TAB */
:root[sizemode="normal"] #nav-bar{ --uc-window-drag-space-width: 20px }

/* #tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox{ min-height: 0 !important; } */
#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-arrowscrollbox{ min-height: 0 !important; }

:root:not([customizing]) #tabbrowser-tabs .tabs-newtab-button,
:root:not([customizing]) #tabs-newtab-button,
:root:not([customizing]) #TabsToolbar-customization-target > .toolbarbutton-1,
:root:not([customizing]) #TabsToolbar .titlebar-button{
  -moz-appearance: none !important;
  height: 0px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  -moz-box-align: stretch;
  margin: 0 !important;
}
#tabbrowser-tabs .tabbrowser-tab{ height: var(--tab-min-height) }

#tabbrowser-tabs .tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"]{
  visibility: collapse !important;
}
/* HIDE TAB BAR WHEN ONLY ONE TAB */


#addon-bar,#PersonalToolbar,
#main-window:not([privatebrowsingmode])[sizemode="maximized"] #nav-bar {
    border-top-color: transparent !important;
    padding-right: 5px !important;
}

#navigator-toolbox::after {
    background: #fff !important;
}

#navigator-toolbox {
    --tabs-border-color: rgba(0,0,0,0) !important;
}

#nav-bar {
    background: #fff !important;
    box-shadow: none !important;
    background-clip: padding-box !important;
    border-color: transparent !important;
    border-bottom-right-radius: 10px !important;
    border-bottom: 1px solid #ff981f !important;
    --toolbarbutton-outer-padding: 2px;
    --toolbarbutton-inner-padding: 2px;
}

#nav-bar-customization-target {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#nav-bar .toolbarbutton-1:not([type="menu-button"]),
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button,
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
    padding-top: 5px !important;
    padding-bottom: 6px !important;
}

#nav-bar {
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: -1px !important;
    padding: 0px !important;
    border-radius: 0px !important;
    border-top: 0px #282B34 !important;
    box-shadow: none !important;
}

#main-window:not([privatebrowsingmode])[sizemode="normal"] #nav-bar {
    background: rgba(255, 255, 255, 100) !important;
    margin-top: 0px !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
    margin-bottom: -1px !important;
    padding: 0px !important;
    border-radius: 0px !important;
    border-top: 0px #494949 !important;
    box-shadow: none !important;
}

#urlbar {
    background: #fff !important;
    padding: 0px !important;
    text-align: left!important;
    padding-left: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
    border: 1px solid transparent !important;
    color: #ff8a00 !important;
    font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
    font-size: 14px;
    box-shadow: none !important;
}

#identity-box {
    padding-inline-start: 2px !important;
    padding-inline-end: 2px !important;
    margin-inline-end: 2px !important;
}

.urlbar-input {
    padding-left: 10px !important;
}

.urlbar-input-box, 
.urlbar-history-dropmarker .urlbar-icon .chromeclass-toolbar-additional {
    /* background: rgb(244, 244, 244) !important; */
    padding: 3px 5px 0 5px !important;
}

.urlbar-input-box, 
.urlbar-history-dropmarker,
#identity-box,
#PlacesToolbarItems {
    margin: 3px 0 3px 0 !important;
}

.ac-type-icon,.search-go-button,.search-go-button-stack,.search-go-button,
#feed-button,#go-button,#urlbar-reload-button,
image.urlbar-icon#reader-mode-button,
#back-button,
#forward-button,
#PanelUI-button, #pageActionButton,
#TabsToolbar .tabbrowser-tab:after,
#TabsToolbar .tabbrowser-tab:before,
#TabsToolbar .tab-background-start,
#TabsToolbar .tab-background-end,
#TabsToolbar #new-tab-button,
#context-sendpagetodevice, 
#context-sep-sendpagetodevice,
#context-sendlinktodevice, 
#context-sep-sendlinktodevice,
#context_sendTabToDevice, 
#context_sendTabToDevice_separator,
#context-pocket,
#context-savelinktopocket,
#context-savelink,
#context-bookmarklink,
#screenshots_mozilla_org-menuitem-_create-screenshot,
.tab-line {
    display: none !important;
}

/*###############################################
  Icons
#################################################*/

/* Folder */
.bookmark-item[container]:not([query="true"]) {
list-style-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAGFBMVEUAAAD/mB//mB//mB//mB//mB//mB//mB+NuWwpAAAAB3RSTlMAoZzy76kkXsVIwgAAACxJREFUCNdjgAOm8nIBMIO9vLwUygCBkgQoo7wArhYuQhqDGcZgAlEg+zAAAFFlInnt8K0xAAAAAElFTkSuQmCC') !important;
-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}

/* File */
.bookmark-item {
list-style-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAANlBMVEUAAADsjirmiy31kybzkifxkSjVgzTFezn/mB/0kib3lCT5lSPbhjLOfzedaEFKSkr/mB//snu0VkxjAAAAEHRSTlMApJj49vXSafnn4fWDcT8wkyW6WgAAAEJJREFUGNNjYGBghAIGGBCAAjZ0AS42NAFBiAhCgJNTgBsiAAccrGgCAswEBVgwBSg3gxW7w/jZ2dl5eZhAgI+BAQDkBwm5PPDSvwAAAABJRU5ErkJggg==') !important;
}

/* Cookie Autodelete */
#cookieautodelete_kennydo_com-browser-action {
list-style-image:  url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAwICAgJCAwJCQwRCwoLERUPDAwPFRgTExUTExgRDAwMDAwMEQwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/2wBDAQ0LCw0ODRAODhAUDg4OFBQODg4OFBEMDAwMDBERDAwMDAwMEQwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAASABIDASIAAhEBAxEB/8QAFwABAQEBAAAAAAAAAAAAAAAAAAUGBP/EAC8QAAECAgQMBwAAAAAAAAAAAAEAAgQRAwUSIQYTFjEyMzRBQlJTgyJDRFFyhJL/xAAXAQEBAQEAAAAAAAAAAAAAAAAFBgID/8QAKBEAAQMABgsAAAAAAAAAAAAAAgABAwQRFDFTggUhIjI0NXKRotHS/9oADAMBAAIRAxEAPwDTVtWsTFxDmUT7MM0kBg4gLrV3MmD9aw0DT07IgkMpZSeJmyWzuc1vNaXJGwVLCR1Ix5Mhc1u4ifheFwNohadipkvMhK++fCpZqRMFJeUnrlF7ibZ17wKgeGIoGjFqoya9r+pbjKCqOvunouzflFByajfbyMZu1nQ+SJW1aQwB7F9I+z0PFLx9KxhDs41Pc0+0o+DW2+nz8en9dEXKbmI5VuLgnzLXoiJlGL//2Q==') !important;
}

/* ublock */
#ublock0_raymondhill_net-browser-action {
list-style-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAKlBMVEUAAAD/mB//mB//mB//mB//mB//mB//mB//mB//mB//mB//mB//mB//mB8tYPyFAAAADXRSTlMAP1mrIVdthb+ekCS1zzMQzAAAAG5JREFUCNdjAAKxRAYQYBG9ezfQgYGB9y4YXGDggDAaGDghjAkMXHd5Lygo313AwA5kKCvdTWBgAzLOGtwNYGC9K16grARkMN613gxUI8DAAtEFNFEWRF8EWsEIpIEyDGChixBbdS85ACmQJEgCAJldNkGdJOYCAAAAAElFTkSuQmCC') !important;
}
